<div class="movieContainer">
    
    <div class="image-box">
        <img class="poster-image" :src="'https://image.tmdb.org/t/p/original'+movie.poster_path" alt="">
    </div>
    <div class="title-box" v-if="movie.media_type=='movie'">
        {{movie.title}}
    </div>
    <div class="title-box" v-if="movie.media_type=='tv'">
        {{movie.name}}
    </div>
    <div class="button-box">
        <a :href="'/review/film/'+movie.id+'/'+movie.media_type">Review</a>
    </div>
    
</div>



    