<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="search-screenplay-view" v-cloak style="padding: 24px">
    <div class='container-fluid d-flex flex-column align-items-center'>
        <input type="text" placeholder="Search screenplays" name="search" @keypress="clearContents($event)">
        <button v-on:click="search()" style="margin: 4px;">Search</button>
    </div>
    <div class="screenplay-list-js d-flex flex-wrap flex-row justify-content-center">
        <div v-for="screenplay in screenplayList">
            <a :href="'/review/screenplay/'+screenplay.imdbID">
                <%- partial('../../partials/screenplay') %>
            </a>
        </div>
    </div>
    <div class='search-screenplay-container'>
        <div class="d-flex justify-content-center">
            <div v-if="loading" class="loader"></div>
        </div>
        <div v-if="noResults && !loading">No results found</div>
        <button v-if="screenplayList!=undefined && isMore && !loading"class="btn btn-info"v-on:click="search()">Load More</button>
        <div v-if="!isMore && pageNum!=0 && !noResults && !loading" >No More screenplays To Show</div>
    </div>
</div>
<%- exposeLocalsToBrowser({keys: ['screenplayList', 'morescreenplays', 'pageNum', 'isMore', 'noResults']}) %>

    
