<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="film-list">
    <div class="container-fluid pt-5 pb-5">
        <div id="search-film-view" v-cloak style="padding: 24px">
            <div class='search-film-container'>
                <input type="text" placeholder="Search movies" name="search" @keypress="clearContents($event)">
                <button v-on:click="search()" style="margin: 4px;">Search</button>
            </div>
            <div id="movieList">
                <div v-for="movie in movieList">
                    <%- partial('../../partials/movie') %>
                </div>
            </div>
            <div class='search-film-container'>
                <button v-if="movieList!=undefined && isMore"class="btn btn-info"v-on:click="search()">Load More</button>
            </div>
            <div class='search-film-container'>
                <div v-if="!isMore && pageNum!=0" >
                    No More Movies To Show
                </div>
            </div>
        </div>
    </div>
</div>
<%- exposeLocalsToBrowser({keys: ['movieList', 'moreMovies', 'pageNum', 'isMore']}) %>
<style>
    [v-cloak] { display:none; }

    .search-film-container {
        text-align: center;
    }

    #movieList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .movieContainer {
        margin: 10px;
        height: 375px;
        width: 247px;
        transition: transform .2s;
        border: 1px solid black;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        
    }

    .movieContainer:hover {
        transform: scale(1.02);
    }

    .image-box {
        width: 145px;
        height: 220px;
        margin: 20px auto;
        border: 1px solid black
    }

    .title-box {
        text-align: center;
        width: 95%;
        height: 50px;
        margin: 4px;
        word-wrap: break-word;
        font-size: .87rem;
        font-weight: 700;
    }

    .poster-image {
        width: 100%;
        height: 100%;
    }

    .button-box {
        text-align: center;
        width: 45%;
        height: auto;
        margin:auto
    }
</style>
