
<%- exposeLocalsToBrowser({keys: ['writer']}) %>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app" style="margin-top: 20px;"v-cloak>
    <!-- ACCOUNT SETTINGS -->
    <div class="container d-flex flex-column">
        <div class="font-weight-bold d-flex justify-content-center">
            Account Settings
        </div>
        <hr class="w-50">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='font-weight-bold'>
                Email address:
            </div>
            <div>
                {{writer.emailAddress}}
            </div>
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='d-flex font-weight-bold'>
                Full name:
            </div>
            <input type="text" v-model="writer.fullName" class="w-75">
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='d-flex font-weight-bold'>
                Nickname:
            </div>
            <input type="text" class="w-75" v-model="writer.nickName">
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between" style="height: 200px;">
            <div class='d-flex font-weight-bold'>
                Bio:
            </div>
            <textarea class="h-100 w-75"v-model="writer.bio"></textarea>
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='d-flex font-weight-bold'>
                Instagram Handle:
            </div>
            <input type="text" v-model="writer.instagramLink" class="w-75">
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='d-flex font-weight-bold'>
                Twitter Handle:
            </div>
            <input type="text" v-model="writer.twitterLink" class="w-75">
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='d-flex font-weight-bold'>
                Snapchat Handle:
            </div>
            <input type="text" v-model="writer.snapchatLink" class="w-75">
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row mt-3 justify-content-between">
            <div class='d-flex font-weight-bold'>
                TikTok Handle:
            </div>
            <input type="text" v-model="writer.tiktokLink" value="This is place" class="w-75">
        </div>
        <hr class="w-100">
        <div  class="d-flex flex-row justify-content-between mt-3">
            <div class='font-weight-bold'>
                Profile Picture:
            </div>
            <img class="center-cropped" 
                :src="writer.profileImageUrl ? writer.profileImageUrl : '/images/startup.png'">
        </div>
        <div class="d-flex justify-content-center mt-3 ">
            <input type="file" v-on:change="handleprofilePicChange">
        </div>
        <div class="d-flex justify-content-center mt-3 ">
            <button class="btn btn-info w-75"v-on:click="handleSave" :disabled="isSaving">
                Save
            </button>
        </div>
    </div>
</div>

<style>
    [v-cloak] { display:none; }

    .center-cropped {
        object-position: center; /* Center the image within the element */
        object-fit: cover;
        width: 64px;
        height: 64px;
        border-radius: 100px;
        border: solid 1px rgb(94, 94, 94);
    }
</style>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const writer = window.SAILS_LOCALS.writer
    // writer.profileImageUrl = '/images/startup.png'
    const app = new Vue({
        el: "#app",
        data: {
            writer: writer,
            isSaving: false,
            profilePicFile: null,
        },
        methods: {
            handleSave: async function() {
                const formData = new FormData()
                formData.append('fullName', this.writer.fullName)
                formData.append('nickName', this.writer.nickName)
                formData.append('bio', this.writer.bio)
                formData.append('imagefile', this.profilePicFile)
                formData.append('instagramLink', this.writer.instagramLink)
                formData.append('snapchatLink', this.writer.snapchatLink)
                formData.append('twitterLink', this.writer.twitterLink)
                formData.append('tiktokLink', this.writer.tiktokLink)
                // fire off a post request to update writer
                try {
                    await axios.post('/profile', formData)
                    location.reload()
                } catch (err) {
                    console.error(err.toString())
                }
            },
            handleprofilePicChange: function(event) {
                this.profilePicFile = event.target.files[0]
                this.writer.profileImageUrl = window.URL.createObjectURL(this.profilePicFile)
            }
        }
    })
</script>
