<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="review-film-view" class="review-film-view" v-cloak>
    <div v-if="reviewed" style="background-color: yellow; border: 2px solid black; width: 100%; height: 40px;">You have reviewed this screenplay, you can update it here.</div>
    <div class="poster-box">
        <img :src="'https://image.tmdb.org/t/p/original'+film.poster_path" alt="" class="screenplay-image-box">
    </div>
    <div class="title-box" v-if="film.title">
        {{film.title}}
    </div>
    <div class="title-box" v-if="film.name">
        {{film.name}}
    </div>
    <div class="details-box">
        <div v-if="film.runtime">Runtime: {{film.runtime}} minutes</div>
        <div v-if="film.episode_run_time">Episode Runtime: {{film.episode_run_time}} minutes</div>
        <div v-if="film.release_date">Release Date: {{film.release_date}}</div>
        <div v-if="film.first_air_date">First Aired: {{film.first_air_date}}</div>
        <div v-if="film.last_air_date">Last Aired: {{film.last_air_date}}</div>
        <div v-if="film.seasons">Number of Seasons: {{film.seasons.length}}</div>
        <div v-if="film.revenue">Revenue: ${{film.revenue}}</div>
        <div v-if="film.homepage"><a :href="film.homepage" style="font-style: underline; color:blue" target="_blank">Homepage</a></div>
        <div>Type: {{type}}</div>
    </div>
    <hr class="divider">
    <div class="overview-box">
        <div>Overview:</div>
        <div>{{film.overview}}</div>
    </div>
    <hr class="divider">
    <div class="rating-box">
        <div id="rating-number-box" class="rating-number-box">
            <span v-text="total"></span>
        </div>
        <input type="range" step=".1" min="0" max="10" v-model="value">
        <div class="blog-url-box">
            <div>Blog Review Url</div> <input class="text-input" type="text" v-model="blog_url"> <div style="font-style: italic; font-weight: 200px; color: rgb(163, 163, 163);">Optional</div> 
        </div>
        <div v-if="is_submitted" style="background-color: rgb(17, 211, 17); height: 35px; width: 400px; margin: 20px auto; border-radius: 8px; ">Review Successfully Submitted</div>
        <div v-if="is_10_and_blog_blank" style="background-color: rgb(219, 234, 57); height: 35px; width: 400px; margin: 20px auto; border-radius: 8px; ">Must have a blog written for a 10 banger</div>
        <div v-if="need_www" style="background-color: rgb(219, 234, 57); height: 35px; width: 400px; margin: 20px auto; border-radius: 8px; ">Must include www in your url</div>
        <div v-if="invalid_url" style="background-color: rgb(219, 234, 57); height: 35px; width: 400px; margin: 20px auto; border-radius: 8px; ">Invalid url</div>
        <button class="btn btn-info"@click="submitReview()">Submit</button>
    </div>
</div>
<%- exposeLocalsToBrowser({keys: ['film', 'type', 'value', 'blog_url', 'reviewed', 'is_submitted', 'is_10_and_blog_blank', 'need_www', 'invalid_url']}) %>

<style>
    .review-film-view {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .poster-box {
        text-align: center;
        margin: 20px;
    }

    .screenplay-image-box {
        height: 450px;
        width: 300px;
        margin: auto;
    }

    .title-box {
        height: 25px;
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .details-box {
        display: flex;
        flex-direction: row;
    }

    .details-box div {
        margin: 10px;
    }

    .overview-box {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 10px;
        width: 69%;
    }

    .rating-box {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .rating-number-box {
        height: 50px;
        font-size: 2.4rem;
        font-weight: 900;
        margin: 5px;
    }

    .blog-url-box {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .blog-url-box div {
        margin: 10px;
    }

    .divider {
        border-top: 3px solid rgb(120, 120, 120);
        border-radius: 5px;
        margin: 25px;
        width: 75%
    }

    .text-input {
        width: 300px;
        height: 25px;
        margin-top: 10px;
    }

</style>