<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="blog-list">
<div class="container-fluid pt-5 pb-5">
  <h1 class="text-center">Welcome <%= me.fullName %></h1>
    <p class="text-center">Here is a list of your blogs</p>
    <div class="col text-center">
        <a href="/blog/create" class="btn btn-info">Add New Blog</a>
    </div>  

    <div id="app" v-cloak style="padding: 24px">

        <!-- Blog posts -->
        
            <div v-for="blog in blogs">
                <div class="article-box">
                <a :href="'/blog/edit/' +blog.id">
                    <%- partial('../partials/blog') %>
                </a>
                </div>
                <div style="text-align: center; align-content: center;">
                    <div v-if="!blog.isArchived">
                        <button style="background-color: rgb(130, 107, 151); color:white; margin: auto; margin-top: 8px; border-radius: 8px;" v-on:click="archive(blog)">Archive Blog</button>
                    </div>
                    <div v-if="blog.isArchived">
                        <button style="background-color: rgb(77, 14, 133); color:white; margin: auto; margin-top: 8px; border-radius: 8px;" v-on:click="unarchive(blog)">Un-Archive Blog</button>
                    </div>
                    <div v-if="!blog.isReviewed" style="background-color: rgb(216, 212, 4); width: 30%; margin: auto; margin-top: 8px;
                    border-radius: 8px;">
                        Needs Reviewed
                    </div>
                    <div v-if="blog.isArchived" style="background-color: rgb(66, 0, 128); width: 30%; margin: auto; margin-top: 8px;
                    border-radius: 8px; color:white;">
                        Archived Blog
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<%- exposeLocalsToBrowser({keys: ['blogs']}) %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
console.log(window.SAILS_LOCALS.pct)
    const App = new Vue({
        el: '#app',
        data: {
            blogs: window.SAILS_LOCALS.blogs,
            shouldShowDeleteConfirmation: false,
            selectedBlotToDelete: null,
            isDeletingBlog: false,
            colorpct: window.SAILS_LOCALS.pct,

            // Blog creation State variables
            isCreatingBlog: false,
            blogBodyText: null,
            blogFileImageSource: null,
            selectedFile: null,
            shouldShowBlogForm: false,
        },
        methods: {
            archive: async function(blog) {
                var bloginThis = blog
                var blogTitle = blog.title
                const formData = new FormData()
                var thisBlogId = blog.id
                formData.append('blogId', blog.id)
                try {
                    await axios.put('/blog/archive', formData)
                    location.reload()
                } catch (err) {
                    console.error(err.toString())
                }
            },

            unarchive: async function(blog) {
                const formData = new FormData()
                formData.append('blogId', blog.id)
                try {
                    await axios.put('/blog/unarchive', formData)
                    location.reload()
                } catch (err) {
                    console.error(err.toString())
                }
            },
            createBackgroundGradient(blog) {
                const rating = blog.rating
                const numberOfRatings = blog.numberOfRatings * 5
                const colorpct = (rating / numberOfRatings) * 100
                const styleString = `linear-gradient(to right, yellow ${colorpct}%, white ${colorpct}%)`;
                return styleString
            }
        },
        computed: {
            createBackgroundGradient() {
                return `linear-gradient(to right, yellow ${this.colorpct}%, white ${this.colorpct}%)`;
            }
        }
    })
</script>


    
