<script src="https://cdn.ckeditor.com/4.4.5.1/full-all/ckeditor.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<div class="container-fluid pt-5 pb-5">
    <form action="/blog" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="textarea" name="titleText" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="preview">Preview Text (over 350 characters)</label>
        <textarea name="previewText" minlength="350" rows="4" cols="100" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="bodyText" cols="30" rows="10" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="category">Describe your blog with one word. If left blank it will default to 'AllThingsGreat'</label>
        <select name="categoryText">
            <option value="AllThingsGreat">AllTHingsGreat</option>
            <option value="Sports">Sports</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Outdoors">Outdoors</option>
            <option value="Gaming">Gaming</option>
            <option value="Investments">Investments</option>
            <option value="History">History</option>
          </select>
    </div>
    <div>
        <label for="selectImage">Select an image thumbnail (required)</label>
        <img id="selectedImage" class="center-cropped" src="/images/startup.png">
        <br>
        <input name="imageFile" type="file" onchange="handleFileChange(event)"required>
    </div>
    <br><br>
    <button
        style="color: rgb(0, 0, 0); border-radius: 5px; border: solid 1px; margin-left: 12px">
        Create
    </button>
    </form>
</div>

<script>
    function handleFileChange(event) {
        const file = event.target.files[0];

        const imageSrc = window.URL.createObjectURL(file)

        document.getElementById("selectedImage").src = imageSrc
    }
</script>

<script>
    CKEDITOR.replace( 'bodyText', {
    } );
    CKEDITOR.instances.bodyText.setData('<p>Enter your blog here...</p>', function() {
        this.checkDirty();
    })
</script>

<style>
    .center-cropped {
            object-position: center; /* Center the image within the element */
            object-fit: cover;
            width: 150px;
            height: 150px;
            border: solid 1px rgb(94, 94, 94);
        }
</style>
