<script src="https://cdn.ckeditor.com/4.7.3/full-all/ckeditor.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<div class="container-fluid pt-5 pb-5">
    <form action="/blog" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="textarea" name="titleText" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="preview">Preview Text (over 350 characters)</label>
        <textarea name="previewText" minlength="276" rows="4" cols="100" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="bodyText" cols="30" rows="10" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="category">Select a Category</label>
        <select name="categoryText">
            <option value="AllThingsGreat">AllThingsGreat</option>
            <option value="Sports">Sports</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Outdoors">Outdoors</option>
            <option value="Gaming">Gaming</option>
            <option value="Investments">Investments</option>
            <option value="History">History</option>
          </select>
    </div>
    <div>
        <label for="selectImage">Select an image thumbnail (required)</label>
        <img id="selectedImage" class="center-cropped" src="/images/startup.png">
        <br>
        <input name="imageFile" type="file" onchange="handleFileChange(event)"required>
        <div id="notify-box">

        </div>
    </div>
    <br><br>
    <button
        id="create-btn"
        class="btn btn-default;"
        disabled>
        Create
    </button>
    </form>
</div>

<script>
    function handleFileChange(event) {
        const file = event.target.files[0];
        const filename = file.name;
        
        const extension = filename.split('.').pop()
        if (extension == 'jpg' || extension == 'png' || extension == 'gif' || extension == 'jpeg') {
            document.getElementById('create-btn').disabled = false
            document.getElementById('notify-box').innerHTML = ''
            const imageSrc = window.URL.createObjectURL(file)
            document.getElementById("selectedImage").src = imageSrc
            return true
        } else {
            document.getElementById('create-btn').disabled = true
            document.getElementById('notify-box').innerHTML = "<p style='color:red;'>Please select .jpeg, .jpg, .gif, .png extension</p>"
            return false
        }  

    }
</script>

<script>
    CKEDITOR.replace( 'bodyText' , {
        allowedContent: true,
    });
    CKEDITOR.instances.bodyText.setData('<p>Enter your blog here...</p>', function() {
        this.checkDirty();
    })
</script>

<style>
    .center-cropped {
            object-position: center; /* Center the image within the element */
            object-fit: cover;
            width: 150px;
            height: 150px;
            border: solid 1px rgb(94, 94, 94);
        }
</style>
