<div id="review">
    <div class="container-fluid pt-5 pb-5">
        <h1 class="text-center">Blogs Ready For Review</h1>
        <div id="app" v-cloak style="padding: 24px">

            <!-- Blog posts -->
            <div>
                <div v-for="blog in blogs">
                    <a :href="'/blog/review/'+blog.id">
                    <%- partial('../../partials/blog') %>
                    </a>
                    <div style="text-align: center; align-content: center;">
                        <!-- <button class="btn btn-danger"v-on:click="deleteBlog(blog)">Delete Blog</button> -->
                        <div v-if="!blog.isReviewed" style="background-color: rgb(216, 212, 4); width: 30%; margin: auto; margin-top: 8px;
                        border-radius: 8px;">
                            Needs Reviewed
                        </div>
                        <div v-if="blog.isArchived" style="background-color: rgb(66, 0, 128); width: 30%; margin: auto; margin-top: 8px;
                        border-radius: 8px; color:white;">
                            Archived Blog
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- exposeLocalsToBrowser({keys: ['blogs']}) %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const App = new Vue({
        el: '#app',
        data: {
            blogs: window.SAILS_LOCALS.blogs,
            shouldShowDeleteConfirmation: false,
            selectedBlogToDelete: null,
            isDeletingBlog: false,

            // Blog creation State variables
            isCreatingBlog: false,
            blogBodyText: null,
            blogFileImageSource: null,
            selectedFile: null,
            shouldShowBlogForm: false,
        },
        methods: {
            createBackgroundGradient(blog) {
                const rating = blog.rating
                const numberOfRatings = blog.numberOfRatings * 5
                const colorpct = (rating / numberOfRatings) * 100
                const styleString = `linear-gradient(to right, yellow ${colorpct}%, white ${colorpct}%)`;
                return styleString
            }
        },
    })
</script>
